bucket                      = "replace-with-tfstate-bucket"
key                         = "mk-store/terraform.tfstate"
region                      = "ru-central1"
endpoint                    = "storage.yandexcloud.net"
access_key                  = "replace-with-access-key"
secret_key                  = "replace-with-secret-key"
skip_region_validation      = true
skip_credentials_validation = true
skip_requesting_account_id  = true
skip_s3_checksum            = true
